body{
    margin: 0;
    max-height: 100vh;
}

.grid-layout{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 1;
}

.module{
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: 5px #fff solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #000;
    margin: 0;
    opacity: 1;
}